.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.flex-container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;

}
.flex-container-2 {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  margin-top: 10px;

}

.child {
  width: 40%;  /* Or whatever */
  height: 40%; /* Or whatever */
  margin: auto;  /* Magic! */
  text-align: center;
  border-style: 'solid';
  border-radius: 4;
  border-width: 1;
  border-color: '#black';
  color: 'black';
}

.child-menu-item {
  width: 15%;  /* Or whatever */
  height: 40%; /* Or whatever */
  margin: auto;  /* Magic! */
  text-align: center;
  margin-top: 30px;
  
}

.h1-menus-items {
  text-align: center;
  margin-bottom: 15px;
}
.p-menus-items {
  text-align: center;
}

.flex-container-create-menu{
  display: flex;
  
}

.child-create-menu {
  width: 80%;  
  margin: auto;  
}

.input-file-create-menu {
  margin-bottom: 25px;
}

.parent-create-item-input-file {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-parent {
  background-color: #595c5d;
  padding: 40px 40px;
  margin-top: 30px;
  display: flex;



}

.my-menus-parent{
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.flex-container-signup{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.child-create-signup {
  align-self: center;

}


.parent-img-edit-menu{
  display: flex;
  justify-content: center;
}

.message-my-menus-items{
  width: 80%;
  margin: auto;
  margin-top: 11%;
  margin-bottom: 12%;
}
.message-my-menus{
  width: 80%;
  margin: auto;
  margin-top: 21%;
  margin-bottom: 20%;
}
.message-my-menus-content{
  text-align: center;
}





